# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
.next/
/out/

# production
dist/

# misc
.DS_Store
*.pem
.cache/

# debug
*.log

# local env files
.env*.local
.env.*

# vercel
.vercel

# typescript
*.tsbuildinfo

certificates

# editors
.vscode
.idea

# monorepo
.turbo

# vite timestamp - remove after it's fixed: https://github.com/vitejs/vite/issues/13267
**/vite.config.ts.timestamp-*


# package specific
packages/components/src/components
packages/components/components.json

# database
packages/database/supabase/.branches
packages/database/supabase/.temp
packages/database/supabase/.env



