auto-install-peers = true
enable-pre-post-scripts=true
public-hoist-pattern[]=*storybook*
@design-system-pro:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_REGISTRY_TOKEN}